.u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 798px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 802px;
  animation-duration: 6500ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 63px 0 56px;
}

.u-section-1 .u-text-2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  font-weight: 700;
  margin: 45px -8px 0 8px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1;
  margin: 37px -8px 0 8px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 9px;
  margin: 43px -30px 0 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 53px;
  min-height: 16px;
  width: 536px;
  min-width: 280px;
  margin: 47px -43px 0 37px;
}

.u-section-1 .u-icon-1 {
  height: 10px;
  color: rgb(31, 128, 170) !important;
}

.u-section-1 .u-icon-2 {
  height: 32px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 119, 0) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(229, 57, 53) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(59, 89, 153) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-image-1 {
  min-height: 798px;
  background-image: url("images/IMG_2675.jpg");
  background-position: 50% 50%;
  animation-duration: 3500ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 517px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 71px;
    margin-right: 55px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 5.625rem;
    margin-top: 75px;
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 3rem;
    margin-top: 127px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    width: 456px;
    margin-top: 75px;
    margin-right: 0;
    margin-left: 2px;
  }

  .u-section-1 .u-image-1 {
    background-position: 12.37% 50%;
    min-height: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 85px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 332px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 769px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 31px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 58px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 59px;
    width: 584px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 756px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    margin-top: 67px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 36px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 41px;
    width: 387px;
    margin-top: 110px;
  }

  .u-section-1 .u-image-1 {
    min-height: 476px;
  }
}.u-section-2 {
  min-height: 803px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1220px);
  margin: 1px 0;
}

.u-section-2 .u-image-1 {
  min-height: 802px;
  animation-duration: 3500ms;
  background-image: url("images/InSilentia-AllTheSeaPortada1.jpg");
  background-position: 84.44% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 838px;
  animation-duration: 6500ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 90px 30px 30px;
}

.u-section-2 .u-text-1 {
  margin: 99px 0 0 34px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  background-image: none;
  width: auto;
  font-size: 5.625rem;
  margin: 47px -21px 0 21px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  line-height: 1;
  font-size: 3rem;
  margin: 40px -21px 0 21px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 9px;
  margin: 66px -17px 0 17px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 63px;
  height: auto;
  margin: 34px 99px 0 213px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 596px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 1036px;
  }

  .u-section-2 .u-image-1 {
    background-position: 100% 50%;
    min-height: 898px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 898px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: 59px;
    margin-left: 17px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 74px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 88px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 29px;
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 816px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    background-position: 92.08% 50%;
    min-height: 877px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 877px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-text-2 {
    font-size: 5rem;
    margin-top: 74px;
    margin-left: -30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1864px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 1163px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 699px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-right: 35px;
    margin-left: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
    margin-right: 35px;
    margin-left: -65px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 66px;
    margin-right: 35px;
    margin-left: -35px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 80px;
    margin-right: 35px;
    margin-left: -35px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 210px;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 505px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 164px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 732px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 39px;
    margin-right: 55px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.0625rem;
    margin-top: 67px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 36px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 229px;
}

.u-section-3 .u-text-1 {
  width: 680px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-3 {
  width: 680px;
  font-size: 1.5rem;
  margin: 20px auto 55px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}