.u-section-1 {
  min-height: 798px;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 798px;
  margin: 0 auto -52px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 798px;
  animation-duration: 6500ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin: 31px 175px 0 37px;
}

.u-section-1 .u-text-2 {
  font-size: 7.5rem;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  font-weight: 700;
  margin: 14px -8px 0 8px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 1;
  margin: 89px -8px 0 8px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 9px;
  margin: 37px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 332px;
  min-width: 236px;
  margin: 28px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 10px;
  color: rgb(31, 128, 170) !important;
}

.u-section-1 .u-icon-2 {
  height: 32px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 119, 0) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(229, 57, 53) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(59, 89, 153) !important;
}

.u-section-1 .u-image-1 {
  min-height: 798px;
  background-image: url("images/IMG_2675.jpg");
  background-position: 50% 50%;
  animation-duration: 3500ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 710px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    min-height: 518px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 918px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-right: 55px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 5.625rem;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 3rem;
    margin-top: 182px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-1 {
    background-position: 12.37% 50%;
    min-height: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 714px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 3px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-top: 85px;
  }

  .u-section-1 .u-image-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 856px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 770px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
    margin-right: 31px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 58px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 44px;
    width: 403px;
  }

  .u-section-1 .u-image-1 {
    min-height: 756px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 490px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-right: 0;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.0625rem;
    margin-top: 67px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 36px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 41px;
    width: 387px;
    margin-top: 17px;
  }

  .u-section-1 .u-image-1 {
    min-height: 476px;
  }
}